@import 'tailwindcss';
@import '@navikt/ds-css' layer(components);

body {
	background-color: #121219;
	font-family: 'Cinzel', serif;
	color: #4b3e2a;
}

:root {
  --meny-text-color: #ffe1aa;
	--border-color: #d8a33c; /* #d4a53a */
}

.gold-button {
	padding: 0.5rem 1rem;
	font-family: 'Cinzel', serif;
	color: var(--meny-text-color);
	background: #05253a;
	border: 3px solid var(--border-color);
  border-radius: 8px;
	width: fit-content;
	transition: all 0.2s ease;
	cursor: pointer;
	text-decoration: none !important;
}
.gold-button:hover {
	background: #031521;
}
.gold-button:active {
	background: #031521;
}
.gold-button:disabled {
	cursor: not-allowed;
	background: #5d6871;
}

.blue_box {
	background: #05253a;
	border: 3px solid var(--border-color);
	border-radius: 8px;
	padding: 1rem;
	color: var(--meny-text-color);
	margin: 1rem;
}

.meny{
	height: 95vh;
	margin-right: 0;
	overflow: auto;
}

.meny-knapp{
  padding: 0.5rem 1rem;
  font-family: 'Cinzel', serif;
  color: #05253a;
  background: #ffe1aa;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
}

.golden-panel {
  background: linear-gradient(to bottom, #f1ead7, #ecdfc2);
	border: 3px solid var(--border-color);
	border-radius: 12px;
	padding: 0.5rem;
	margin: 1rem;
  height: 95vh;
	overflow: auto;
	padding: 1rem;
}

.navds-radio:hover {
	color: #fff9ec;
  & label {
    color: #fff9ec;
  }
}

.navds-tabs__tab, .navds-list__item-marker--bullet {
	color: var(--meny-text-color);
}